{% extends "layout.html" %}
{% block content %}

<script>
	$("#browse_files_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Browse Files</h1>

<div class="panel panel-default">
  <div class="panel-heading">Search Criteria</div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert"><strong>Note:</strong> Read about regular expressions at the <a href="{{ url_for('app_help') }}#regexp">Help</a> page.</div>
    <div class="row">
      <div class="col-md-4">
        <label for="file_path_regexp_filter">File path regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_path_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_path_regexp_button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="file_description_regexp_filter">File description regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_description_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_description_regexp_button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="file_date_regexp_filter">File date and time regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_date_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_date_regexp_button">Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="multiplepersonselect">Persons available in file</label>
        <select multiple class="form-control" id="multiplepersonselect" size="10"></select>
      </div>
      <div class="col-md-4">
        <label for="multiplelocationselect">File location</label>
        <select multiple class="form-control" id="multiplelocationselect" size="10"></select>
      </div>
      <div class="col-md-4">
        <label for="multipletagselect">File tags</label>
        <select multiple class="form-control" id="multipletagselect" size="10"></select>
      </div>
    </div>
    <button type="button" class="btn btn-default" id="">Search file persons</button>
    <button type="button" class="btn btn-default" id="">Search file locations</button>
    <button type="button" class="btn btn-default" id="">Search file tags</button>
    <button type="button" class="btn btn-default" id="search_files_by_category_button">Search all</button>
    <button type="button" class="btn btn-default" id="clear_category_button">Clear all</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Search Result</div>
  <div class="panel-body"><span id="search_result_text">No search result available</span></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">File Browser: <span id="slideshow_file_path">N/A</span></div>
  <div class="panel-body">
    <div class="form-group">
      <button type="button" class="btn btn-default" id="slideshow_prev_file_button" title="Hotkey: a">&lt;&lt; Previous</button>
      <button type="button" class="btn btn-default" id="slideshow_next_file_button" title="Hotkey: d">Next &gt;&gt;</button>
      <button type="button" class="btn btn-default" id="slideshow_random_file_button" title="Hotkey: r">Next Random</button>
      <button type="button" class="btn btn-default" id="slideshow_restart_button">Restart</button>
      <button type="button" class="btn btn-default" id="slideshow_toggle_button">Slideshow: Off</button>
    </div>
    <div class="form-group"><span id="slideshow_item_text">No search result available</span></div>
    <div id="file_browser_image_div"></div>
  </div>
</div>

{% endif %}

{% endblock %}
