{% extends "layout.html" %}

{% block subtitle %} | Browse Files{% endblock %}

{% block init_javascript %}
<script>
$(document).ready(function(){
    filedb_init_browse_page();
});
</script>
{% endblock %}

{% block content %}

<script>
	$("#browse_files_page").addClass('active');
</script>

<h1>Browse Files</h1>

<div class="panel panel-default">
  <div class="panel-heading">Search Criteria</div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#basic_search_criteria">Basic</a></li>
      <li><a data-toggle="tab" href="#advanced_search_criteria">Advanced</a></li>
      <li><a data-toggle="tab" href="#exported_search_criteria">Exported search</a></li>
      <li><a data-toggle="tab" href="#pinned_files_search_criteria">Pinned files</a></li>
    </ul>
    <div class="tab-content">
      <div id="basic_search_criteria" class="tab-pane fade in active">
        <br>
        <button type="button" class="btn btn-default" id="search_all_files_button" title="">Browse all files</button>
        <button type="button" class="btn btn-default" id="search_ten_random_files_button" title="">Browse ten random files</button>
      </div>
      <div id="advanced_search_criteria" class="tab-pane fade">
        <br>
        <div class="alert alert-info" role="alert"><strong>Note:</strong> Read about regular expressions at the <a href="{{ url_for('app_help') }}#regexp">Help page</a>.</div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="file_path_regexp_filter">File path regexp</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Should match: path/to/file" id="file_path_regexp_filter">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="file_path_regexp_button">Search</button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="file_description_regexp_filter">File description regexp</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Should match: Any text here" id="file_description_regexp_filter">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="file_description_regexp_button">Search</button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="file_date_regexp_filter">File date and time regexp</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Should match: YYYY-MM-DDTHH:MM:SS" id="file_date_regexp_filter">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" id="file_date_regexp_button">Search</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="multiplepersonselect">Persons (hold CTRL for multiple select)</label>
            <select multiple class="form-control" id="multiplepersonselect" size="15"></select>
            <button type="button" class="btn btn-default" id="search_files_by_persons_button">Search file persons</button>
          </div>
          <div class="col-md-4">
            <label for="multiplelocationselect">Locations (hold CTRL for multiple select)</label>
            <select multiple class="form-control" id="multiplelocationselect" size="15"></select>
            <button type="button" class="btn btn-default" id="search_files_by_locations_button">Search file locations</button>
          </div>
          <div class="col-md-4">
            <label for="multipletagselect">Tags (hold CTRL for multiple select)</label>
            <select multiple class="form-control" id="multipletagselect" size="15"></select>
            <button type="button" class="btn btn-default" id="search_files_by_tags_button">Search file tags</button>
          </div>
        </div>

        <br>
        <button type="button" class="btn btn-default" id="reset_search_criteria_button" title="Reset search criteria">Reset</button>
        <button type="button" class="btn btn-default" id="clear_search_button" title="Clear previous search result">Clear</button>
        <button type="button" class="btn btn-default" id="search_files_by_all_button" title="Make a new search">Search</button>
      </div>
      <div id="exported_search_criteria" class="tab-pane fade in">
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon4">File list</span>
          <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="exported_list_of_files_input" aria-describedby="basic-addon4">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="exported_list_of_files_button">Search</button>
          </span>
        </div>
      </div>
      <div id="pinned_files_search_criteria" class="tab-pane fade in">
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon5">Pinned files</span>
          <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="pinned_files_input" aria-describedby="basic-addon5" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="pinned_files_button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Search Result<span id="search_result_heading_postfix"></span></div>
  <div class="panel-body">
    <span id="search_result_text">No search result available</span>
    <div class="row">
      <div class="col-md-5" id="search_result_directories"></div>
      <div class="col-md-3" id="search_result_persons"></div>
      <div class="col-md-2" id="search_result_locations"></div>
      <div class="col-md-2" id="search_result_tags"></div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">File Browser<span id="slideshow_file_header"></span></div>
  <div class="panel-body">
    <div class="form-group">
      <button type="button" class="btn btn-default" id="slideshow_prev_file_button" title="Previous" disabled>&lt;&lt;</button>
      <button type="button" class="btn btn-default margin_spacer" id="slideshow_next_file_button" title="Next" disabled>&gt;&gt;</button>
      <button type="button" class="btn btn-default" id="slideshow_prev_directory_button" title="Skip to previous directory" disabled>&lt;&lt;&lt;</button>
      <button type="button" class="btn btn-default margin_spacer" id="slideshow_next_directory_button" title="Skip to next directory" disabled>&gt;&gt;&gt;</button>
      <button type="button" class="btn btn-default" id="slideshow_restart_button" title="Skip to beginning" disabled>&#91;&lt;&lt;</button>
      <button type="button" class="btn btn-default margin_spacer" id="slideshow_end_button" title="Skip to end" disabled>&gt;&gt;&#93;</button>
      <button type="button" class="btn btn-default" id="slideshow_toggle_repeat_button">Repeat: Off</button>
      <button type="button" class="btn btn-default" id="slideshow_toggle_random_button" title="">Random: Off</button>
      <button type="button" class="btn btn-default margin_spacer" id="slideshow_toggle_button">Slideshow: Off</button>
      <button type="button" class="btn btn-default" id="slideshow_fullscreen_button" title="Open fullscreen viewer" disabled>Fullscreen</button>
      <button type="button" class="btn btn-default" id="slideshow_pin_button" title="Toggle pin on/off for file" disabled>Pin file</button>
    </div>
    <div class="form-group"><span id="slideshow_item_text">No search result available</span></div>
    <div id="file_browser_image_div"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Export</div>
  <div class="panel-body">
    <button type="button" class="btn btn-default" id="export_file_list" disabled>File list</button>
    <button type="button" class="btn btn-default" id="export_absolute_paths" disabled>Absolute file paths</button>
    <button type="button" class="btn btn-default" id="export_relative_paths" disabled>Relative file paths</button>
    <button type="button" class="btn btn-default" id="export_zip_file" disabled>Zip file</button>
    <button type="button" class="btn btn-default" id="export_m3u_file" disabled>M3U playlist</button>
    <button type="button" class="btn btn-default" id="export_pls_file" disabled>PLS playlist</button>
    <br>
    <div id="exportresult"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">File List Tools</div>
  <div class="panel-body">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">File list #1</span>
        <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="filelist1_input" aria-describedby="basic-addon1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" id="filelist1_update_button">Update from search</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">File list #2</span>
        <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="filelist2_input" aria-describedby="basic-addon2">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" id="filelist2_update_button">Update from search</button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" id="filelists_union_button" title="Find files available in any file list">Generate union</button>
      <button type="button" class="btn btn-default" id="filelists_intersection_button" title="Find files available in both file lists">Generate intersection</button>
      <button type="button" class="btn btn-default" id="filelists_difference_button" title="Find files not available in both file lists">Generate difference</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Result</span>
        <input type="text" class="form-control" placeholder="" id="filelists_result_input" aria-describedby="basic-addon3" readonly>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" id="copy_filelists_result_button">Copy</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="my_fullscreen_browser" class="fullscreen_browser"></div>
<div id="my_fullscreen_browser_overlay" class="fullscreen_browser_overlay"></div>

{% endblock %}
