{% extends "layout.html" %}
{% block content %}

<script>
	$("#browse_files_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Browse Files</h1>

<div class="panel panel-default">
  <div class="panel-heading">Search Criteria</div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert"><strong>Note:</strong> Read about regular expressions at the <a href="{{ url_for('app_help') }}#regexp">Help page</a>.</div>
    <div class="row">
      <div class="col-md-4">
        <label for="file_path_regexp_filter">File path regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_path_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_path_regexp_button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="file_description_regexp_filter">File description regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_description_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_description_regexp_button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <label for="file_date_regexp_filter">File date and time regexp</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="" id="file_date_regexp_filter">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" id="file_date_regexp_button">Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="multiplepersonselect">Persons available in file</label>
        <select multiple class="form-control" id="multiplepersonselect" size="15"></select>
        <button type="button" class="btn btn-default" id="search_files_by_persons_button">Search file persons</button>
      </div>
      <div class="col-md-4">
        <label for="multiplelocationselect">File location</label>
        <select multiple class="form-control" id="multiplelocationselect" size="15"></select>
        <button type="button" class="btn btn-default" id="search_files_by_locations_button">Search file locations</button>
      </div>
      <div class="col-md-4">
        <label for="multipletagselect">File tags</label>
        <select multiple class="form-control" id="multipletagselect" size="15"></select>
        <button type="button" class="btn btn-default" id="search_files_by_tags_button">Search file tags</button>
      </div>
    </div>
    
    <br>
    <button type="button" class="btn btn-default" id="clear_all_button">Clear</button>
    <button type="button" class="btn btn-default" id="search_files_by_all_button">Search</button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Search Result</div>
  <div class="panel-body"><span id="search_result_text">No search result available</span></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">File Browser: <span id="slideshow_file_path">N/A</span></div>
  <div class="panel-body">
    <div class="form-group">
      <button type="button" class="btn btn-default" id="slideshow_prev_file_button" title="Hotkey: a">&lt;&lt; Previous</button>
      <button type="button" class="btn btn-default" id="slideshow_next_file_button" title="Hotkey: d">Next &gt;&gt;</button>
      <button type="button" class="btn btn-default" id="slideshow_random_file_button" title="Hotkey: r">Next Random</button>
      <button type="button" class="btn btn-default" id="slideshow_restart_button">Restart</button>
      <button type="button" class="btn btn-default" id="slideshow_toggle_button">Slideshow: Off</button>
    </div>
    <div class="form-group"><span id="slideshow_item_text">No search result available</span></div>
    <div id="file_browser_image_div"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Export</div>
  <div class="panel-body">
    <button type="button" class="btn btn-default" id="export_absolute_paths">Absolute file paths</button>
    <button type="button" class="btn btn-default" id="export_relative_paths">Relative file paths</button>
    <button type="button" class="btn btn-default" id="export_zip_file">Zip file</button>
  </div>
</div>

{% endif %}

{% endblock %}
