{% extends "layout.html" %}
{% block content %}

<script>
	$("#categorize_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Categorize Files</h1>

<div class="panel panel-default">
    <div class="panel-heading">Find File without Specified Meta-Data</div>
    <div class="panel-body">
        <button type="button" class="btn btn-default" id="">Person</button>
        <button type="button" class="btn btn-default" id="">Location</button>
        <button type="button" class="btn btn-default" id="">Tag</button>
        <button type="button" class="btn btn-default" id="">Description</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">File to Categorize</div>
    <div class="panel-body">
        <div id="categorize_image_div">Please select a file to categorize</div>
        <br>
        <div id="person_categories">No persons loaded</div>
        <div id="location_categories">No locations loaded</div>
        <div id="tag_categories">No tags loaded</div>
        <br>
        <button type="button" class="btn btn-default" id="save_file_categorize_button">Save</button>
    </div>
</div>

{% endif %}
{% endblock %}
