{% extends "layout.html" %}

{% block subtitle %} | Categorize Files{% endblock %}

{% block init_javascript %}
<script>
$(document).ready(function(){
    filedb_init_categorize_page();
});
</script>
{% endblock %}

{% block content %}

<script>
	$("#categorize_page").addClass('active');
</script>

<h1>Categorize Files</h1>

<span id="categorize_page_loading_text">Loading...</span>
<div id="categorize_page_content" class="hidden">

<div class="panel panel-default">
    <div class="panel-heading">Find Files without Specified Categorization</div>
    <div class="panel-body">
        <button type="button" class="btn btn-default margin_spacer" id="find_file_wo_any_button">Any</button>
        <button type="button" class="btn btn-default" id="find_file_wo_person_button">Person</button>
        <button type="button" class="btn btn-default" id="find_file_wo_location_button">Location</button>
        <button type="button" class="btn btn-default margin_spacer" id="find_file_wo_tag_button">Tag</button>
        <button type="button" class="btn btn-default" id="find_file_wo_description_button">Description</button>
        <button type="button" class="btn btn-default" id="find_file_wo_date_button">Date</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Find Files by Path</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Path prefix</span>
                    <input type="text" class="form-control" placeholder="Example: 2016/2016-05-03" id="find_file_by_path_input" aria-describedby="basic-addon1">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="find_file_by_path_button">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">Path regular expression</span>
                    <input type="text" class="form-control" placeholder="Example: christmas" id="find_file_by_path_regexp_input" aria-describedby="basic-addon2">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" id="find_file_by_path_regexp_button">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Find Files from Exported Search</div>
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">File list</span>
      <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="categorize_exported_list_of_files_input" aria-describedby="basic-addon3">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" id="categorize_exported_list_of_files_button">Search</button>
      </span>
    </div>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Search Result</div>
    <div class="panel-body">
        <span id="categorize_search_result_text">No search result available</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">File Categorizer<span id="categorize_file_header"></span> <strong id="categorize_save_status"></strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-default" id="categorize_remove_files_persons" title="Removes selected persons from search result files">- Persons...</button>
                <button type="button" class="btn btn-default margin_spacer" id="categorize_add_files_persons" title="Adds selected persons to search result files">+ Persons...</button>
                <button type="button" class="btn btn-default" id="categorize_remove_files_locations" title="Removes selected locations from search result files">- Locations...</button>
                <button type="button" class="btn btn-default margin_spacer" id="categorize_add_files_locations" title="Adds selected locations to search result files">+ Locations...</button>
                <button type="button" class="btn btn-default" id="categorize_remove_files_tags" title="Removes selected tags from search result files">- Tags...</button>
                <button type="button" class="btn btn-default" id="categorize_add_files_tags" title="Adds selected tags to search result files">+ Tags...</button>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-default" id="prev_file_categorize_button" title="Previous">&lt;&lt;</button>
                <button type="button" class="btn btn-default margin_spacer" id="next_file_categorize_button" title="Next">&gt;&gt;</button>

                <button type="button" class="btn btn-default" id="prev_directory_categorize_button" title="Skip to previous directory">&lt;&lt;&lt;</button>
                <button type="button" class="btn btn-default margin_spacer" id="next_directory_categorize_button" title="Skip to next directory">&gt;&gt;&gt;</button>

                <button type="button" class="btn btn-default" id="first_file_categorize_button" title="First">[&lt;&lt;</button>
                <button type="button" class="btn btn-default margin_spacer" id="last_file_categorize_button" title="Last">&gt;&gt;]</button>

                <button type="button" class="btn btn-default" id="reset_file_categorize_button">Reset</button>
                <button type="button" class="btn btn-default" id="save_file_categorize_button">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group"><div id="person_categories">Loading persons...</div></div>
            </div>
            <div class="col-md-3">
                <div class="form-group"><div id="location_categories">Loading locations...</div></div>
                <div class="form-group"><div id="tag_categories">Loading tags...</div></div>
                <div class="form-group"><input type="text" class="form-control" placeholder="Date" id="file_date" title="YYYY, YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS"></div>
                <div class="form-group"><input type="text" class="form-control" placeholder="Description" id="file_description" title="Description"></div>
            </div>
            <div class="col-md-6">
                <div id="categorize_image_div">Please find a file to categorize</div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}
