{% extends "layout.html" %}

{% block subtitle %} | Edit Categories{% endblock %}

{% block init_javascript %}
<script>
$(document).ready(function(){
    filedb_init_categories_page();
});
</script>
{% endblock %}

{% block content %}

<script>
	$("#edit_categories_page").addClass('active');
</script>

<h1>Edit Categories</h1>

<h2 id="persons_header"><span class="glyphicon glyphicon-user"></span> Persons</h2>
<div class="alert alert-info" role="alert"><strong>Note:</strong> Set date of birth to see age in specific files at the <a href="{{ url_for('app_browse') }}">Browse Files page</a>.</div>
<div class="form-group clearfix">
    <form action="{{ url_for('api_add_person') }}" method=post class="navbar-form navbar-left" role="search" id="add_person_form">
        <input type="text" class="form-control" placeholder="First name" name="firstname" id="person_firstname_input" title="First name" required>
        <input type="text" class="form-control" placeholder="Last name" name="lastname" id="person_lastname_input" title="Last name" required>
        <input type="text" class="form-control" placeholder="Description" name="description" id="person_description_input" title="Description">
        <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="dateofbirth" id="person_dateofbirth_input" pattern="[1-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]" title="YYYY-MM-DD">
        <input type="text" class="form-control" placeholder="Profile file id" name="profilefileid" id="person_profilefileid_input" pattern="\d*" title="Profile file id">
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
<div id="personsdiv" class="clearfix">Loading persons...</div>

<h2 id="locations_header"><span class="glyphicon glyphicon-globe"></span> Locations</h2>
<div class="alert alert-info" role="alert"><strong>Note:</strong> Set a position for the location to automatically set nearby locations when adding files. The position can, for example, be found in the URL at <a href="https://maps.google.com">Google Maps</a>.</div>
<div class="form-group clearfix">
    <form action="{{ url_for('api_add_location') }}" method=post class="navbar-form navbar-left" role="search" id="add_location_form">
        <input type="text" class="form-control" placeholder="Name" name="name" id="location_name_input" title="Name" required>
        <input type="text" class="form-control" placeholder="Description" name="description" id="location_description_input" title="Description">
        <input type="text" class="form-control" placeholder="Position" name="position" id="location_position_input" pattern="^$|[-]{0,1}[0-9]*\.[0-9]*\s[-]{0,1}[0-9]*\.[0-9]*" title="latitude longitude">
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
<div id="locationsdiv" class="clearfix">Loading locations...</div>

<h2 id="tags_header"><span class="glyphicon glyphicon-tag"></span> Tags</h2>
<div class="form-group clearfix">
    <form action="{{ url_for('api_add_tag') }}" method=post class="navbar-form navbar-left" role="search" id="add_tag_form">
        <input type="text" class="form-control" placeholder="Name" name="name" title="Name" id="tag_name_input" required>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
</div>
<div id="tagsdiv" class="clearfix">Loading tags...</div>

{% endblock %}
