{% extends "layout.html" %}
{% block content %}

<script>
	$("#edit_categories_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Edit Categories</h1>

<h2>Persons</h2>
<form action="{{ url_for('api_add_person') }}" method=post class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="First name" name="firstname">
        <input type="text" class="form-control" placeholder="Last name" name="lastname">
        <input type="text" class="form-control" placeholder="Description" name="description">
        <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="dateofbirth">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
<table class="table" id="personstable">
    <tr><th>First Name</th><th>Last Name</th><th>Description</th><th>Date of Birth</th><th>Actions</th></tr>
</table>

<h2>Locations</h2>
<form action="{{ url_for('api_add_location') }}" method=post class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
<table class="table" id="locationstable">
    <tr><th>Name</th><th>Actions</th></tr>
</table>

<h2>Tags</h2>
<form action="{{ url_for('api_add_tag') }}" method=post class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
<table class="table" id="tagstable">
    <tr><th>Name</th><th>Actions</th></tr>
</table>

{% endif %}
{% endblock %}
