{% extends "layout.html" %}

{% block init_javascript %}
<script>
$(document).ready(function(){
    filedb_init_files_page();
});
</script>
{% endblock %}

{% block content %}

<script>
	$("#files_page").addClass('active');
</script>

<h1>Add Files</h1>

<div class="alert alert-info" role="alert"><strong>Notes:</strong>
    <ul>
        <li>What is imported/added depends on the FileDB configuration.</li>
        <li>Date and time are automatically extracted from JPEG files, but can be edited later.</li>
        <li>Edited JPEG files usually does not have the date and time information. FileDB will then try to extract this from the file path instead.</li>
        <li>GPS position is automatically extracted from JPEG files for automatically setting file location. Set GPS position for each location at the <a href="{{ url_for('app_categories') }}">Edit Categories page</a>.</li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Import Files</div>
    <div class="panel-body">
        <p><button type="submit" class="btn btn-default" id="import_button">Import...</button></p>
        <p id="import_status"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Add Files</div>
    <div class="panel-body">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Directory<span class="caret"></span></button>
            <ul class="dropdown-menu" id="add_files_directory_list"></ul>
            <button id="add_files_from_directory_update_button" class="btn btn-default">Fetch added directories (fast)</button>
            <button id="add_files_from_directory_update_fs_button" class="btn btn-default">Fetch all directories (slow)</button>
            <button id="add_files_from_directory_add_button" class="btn btn-default" disabled>Add</button>
        </div>
        <p id="add_files_status" style="clear:both;"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Delete Files</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Notes:</strong>
            <ul>
                <li>No files from your file collection are removed, only file meta-data.</li>
                <li>If a directory within your files collection has been renamed, use the rename functionality to avoid losing already added meta-data.</li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Directory<span class="caret"></span></button>
            <ul class="dropdown-menu" id="delete_files_directory_list"></ul>
            <button id="delete_files_from_directory_update_button" class="btn btn-default">Fetch added directories</button>
            <button id="delete_files_from_directory_add_button" class="btn btn-default" disabled>Delete</button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Tools</div>
    <div class="panel-body">
        <div class="form-group">
            <button type="button" class="btn btn-default navbar-btn" id="button_show_directories">List filesystem directories...</button>
            <button type="button" class="btn btn-default navbar-btn" id="button_show_all_files">List added files...</button>
            <button type="submit" class="btn btn-default" id="consistency_check_button">Run consistency check...</button>
        </div>
        <p id="files_status"></p>
        <table class="table" id="directoriestable"></table>
        <table class="table" id="filestable"></table>
    </div>
</div>

{% endblock %}
