{% extends "layout.html" %}

{% block subtitle %} | Manage Files{% endblock %}

{% block init_javascript %}
<script>
$(document).ready(function(){
    filedb_init_files_page();
});
</script>
{% endblock %}

{% block content %}

<script>
	$("#files_page").addClass('active');
</script>

<h1>Manage Files</h1>

<div class="panel panel-default">
    <div class="panel-heading">Add Files</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Notes:</strong>
            <ul>
                <li>What is added depends on the FileDB configuration.</li>
                <li>Already added files are ignored.</li>
                <li>Run a consistency check and take care of problems to avoid adding renamed files twice.</li>
                <li>Date and time are automatically extracted from JPEG files, but can be edited later.</li>
                <li>Edited JPEG files usually does not have the date and time information. FileDB will then try to extract this from the file path instead.</li>
                <li>GPS position is automatically extracted from JPEG files for automatically setting file location. Set GPS position for each location at the <a href="{{ url_for('app_categories') }}">Edit Categories page</a>.</li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Directory<span class="caret"></span></button>
            <ul class="dropdown-menu" id="add_files_directory_list"></ul>
            <button id="add_files_from_directory_update_button" class="btn btn-default">List added directories (fast)</button>
            <button id="add_files_from_directory_update_fs_button" class="btn btn-default">List available directories (slow)</button>
            <button id="add_files_from_directory_add_button" class="btn btn-default" disabled autocomplete="off">Add files from selected directory</button>
        </div>
        <br>
        <button type="submit" class="btn btn-default" id="import_button">Add all files...</button>
        <br>
        <p id="add_files_status" style="clear:both;"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Delete Files</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Notes:</strong>
            <ul>
                <li>No files from your file collection are removed, only file meta-data.</li>
                <li>If a directory within your files collection has been renamed, use the rename functionality to avoid losing already added meta-data.</li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Directory<span class="caret"></span></button>
            <ul class="dropdown-menu" id="delete_files_directory_list"></ul>
            <button id="delete_files_from_directory_update_button" class="btn btn-default">List added directories</button>
            <button id="delete_files_from_directory_delete_button" class="btn btn-default" disabled autocomplete="off">Delete</button>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">File list</span>
            <input type="text" class="form-control" placeholder="Format: id1;id2;id3;..." id="delete_files_from_filelist_input" aria-describedby="basic-addon2">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" id="delete_files_from_filelist_button">Delete</button>
            </span>
        </div>
        <p id="delete_files_status" style="clear:both;"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Rename Files</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Notes:</strong>
            <ul>
                <li>Use this functionality when files within your files collection have been moved/renamed (categorization data is kept, unlike a delete+add).</li>
                <li>It is only possible to move files to sub directories within the files collection, not to the top directory.</li>
            </ul>
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Source file list</span>
            <input type="text" class="form-control" id="rename_files_from_filelist_input" placeholder="Format: id1;id2;id3;..." aria-describedby="basic-addon1">
        </div>

        <br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Destination directory<span class="caret"></span></button>
            <ul class="dropdown-menu" id="rename_directory_destination_list"></ul>
            <button id="rename_directory_update_button" class="btn btn-default">List destination directories</button>
        </div>
        <br>
        <button id="rename_directory_rename_button" class="btn btn-default" disabled autocomplete="off">Rename...</button>
        <p id="rename_directory_status" style="clear:both;"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Consistency Check Tool</div>
    <div class="panel-body">
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="consistency_check_button">Start...</button>
        </div>
        <p id="consistency_check_status"></p>
        <table class="table" id="consistency_check_files_table"></table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Duplicate Files Finder Tool</div>
    <div class="panel-body">
        <div class="form-group">
            <button type="submit" class="btn btn-default" id="duplicate_files_button">Start...</button>
        </div>
        <p id="duplicate_files_tool_status"></p>
        <table class="table" id="duplicate_files_table"></table>
    </div>
</div>

{% endblock %}
