{% extends "layout.html" %}
{% block content %}

<script>
	$("#files_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Add Files</h1>

<div class="alert alert-info" role="alert"><strong>Note:</strong> Date and time are automatically extracted from JPEG files, but can be edited later.</div>

<div class="panel panel-default">
    <div class="panel-heading">Import Files</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Note:</strong> What is imported depends on the configuration for file root directory and white/black-listed file extensions.</div>
        <p><button type="submit" class="btn btn-default" id="import_button">Import...</button></p>
        <p id="import_status"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Add File(s)</div>
    <div class="panel-body">
        <div class="alert alert-info" role="alert"><strong>Note:</strong> Paths are specified from within the configured file root directory.</div>
        <form action="{{ url_for('api_add_directory') }}" method=post class="navbar-form navbar-left" role="search" id="add_directory_form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="From directory path" name="path">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
        <form action="{{ url_for('api_add_file') }}" method=post class="navbar-form navbar-left" role="search" id="add_file_form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="From file path" name="path">
                <input type="text" class="form-control" placeholder="File description" name="description">
            </div>
            <button type="submit" class="btn btn-default">Add</button>
        </form>
        <p id="add_files_status" style="clear:both;"></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">File Consistency Check</div>
    <div class="panel-body">
        <button type="submit" class="btn btn-default" id="consistency_check_button">Run...</button>
        <span id="files_consistency_status"></span>
    </div>
</div>

<button type="button" class="btn btn-default navbar-btn" id="button_show_all_files">List all files</button>
<p id="get_all_files_status"></p>
<table class="table" id="filestable">
</table>

{% endif %}
{% endblock %}
