{% extends "layout.html" %}

{% block subtitle %} | Help{% endblock %}

{% block content %}

<script>
	$("#about_page").addClass('active');
</script>

<h1>Help</h1>

<h2>About</h2>
<p>This web application is used for storing and presenting meta data for your multimedia files (such as images or movies).</p>
<p>The following meta data can be added to each file from your file collection:</p>
<ul>
    <li>File description, date and time</li>
    <li>Persons - including description and date of birth</li>
    <li>Locations - including description and GPS position</li>
    <li>Tags</li>
</ul>
<p>The meta data above, called categories, can be used when searching for files or to document historic events represented by the files.</p>

<h2>Initial Setup</h2>
<p>First read the README and <a href="{{ url_for('doc_changes') }}">CHANGES</a> documentation.</p>
<p>How to prepare your camera devices, such as digital cameras and smart phones, to simplify future categorization:</p>
<ul>
    <li>Set the date and time, because this information will be included in the JPEG pictures which will be used by FileDB</li>
    <li>Enable location saving in images to make FileDB automatically connect known locations when adding files</li>
</ul>
<p></p>
<p>When you start with an empty file database you probably want to import all your files at the <a href="{{ url_for('app_files') }}">Add File page</a>. Later, when adding new directories, specific directories can be added to improve performance.</p>

<h2>Categorization</h2>
<p>When FileDB is up and running it is time to create the categories at the <a href="{{ url_for('app_categories') }}">Edit Categories page</a>.</p>
<p>Afterwards files can be categorized at the <a href="{{ url_for('app_categorize_files') }}">Categorize Files page</a>.</p>
<p>It is recommended to only categorize persons in pictures that are clearly visible in the foreground.</p>
<p>Regular expressions can be used to find files to categorize. The path is then matched with the specified regular expression pattern. An introduction to such patterns can be found <a href="http://www.w3schools.com/js/js_regexp.asp" target="_blank">here</a>.</p>
<p>File descriptions can, for example, be used to create subtitles for pictures.</p>

<h2>Notes About Your Files Collection</h2>
<p>FileDB does not modify any files in your file collection. Files are read when importing (adding) files, viewing files or when reading Exif-data via the API.</p>
<p>Before importing your files, take a moment to think about the directory structure. Any directory structure can be used for sorting files in your existing collection. However, this layout has been proven to work very well:</p>
<pre>
root
 |- 2015
 |   |- 2015-06-12 - Biking
 |   |      |- file1.jpg
 |   |      |- file2.jpg
 |   |
 |   |- 2015-07-13 - Birthday party
 |          |- somefile.jpg
 |
 |- 2016
     |- 2016-01-05 - Something else
            |- anotherfile1.jpg
            |- anotherfile2.jpg
</pre>
<p>Files can have the same name in different directories.</p>
<p>File paths in FileDB uses UNIX style directory separators ('/'), mostly because that is how FileDB stores the paths internally.</p>
<p>If you rename or delete files that has been added to FileDB you need to remove them in FileDB as well (and possibly add them again). There is a tool for finding such files at the <a href="{{ url_for('app_files') }}">Add Files page</a></p>

<h2 id="regexp">Regular Expressions</h2>
<p>Regular expressions can be used on some at the FileDB web pages. They are a way to describe a wanted search criteria. The specified patterns are case insensitive.</p>
<p>Example:
<ul>
    <li>'christmas' matches '2016-12-24_Christmas/IMG_001.jpg'</li>
</ul>
</p>
<p>See this <a href="https://docs.python.org/2/howto/regex.html">Regular Expression HOWTO</a> for how to write regular expressions.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<p>Problem: Unable to load files<br>
Answer: The file is probably not available for the server-side application. Did you rename the file or directory? Did you forget to mount a network share? The consistency check tool can help you find unavailable files.</p>

<h2>Application Programming Interface (API)</h2>
<p>This webapp uses the <a href="{{ url_for('doc_api') }}">FileDB API</a> which is also intended to be used by other applications.</p>

{% endblock %}
