{% extends "layout.html" %}
{% block content %}

<script>
	$("#about_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Help</h1>

<h2>About</h2>
<p>This web application is used for storing and presenting meta data for your multimedia files (such as images or movies).</p>
<p>The following meta data can be added to each file from your file collection:</p>
<ul>
    <li>File description, date and time</li>
    <li>Persons - including description and date of birth</li>
    <li>Locations - including description and GPS position</li>
    <li>Tags</li>
</ul>
<p>The meta data above, called categories, can be used when searching for files or to document historic events represented by the files.</p>

<h2>Initial Setup</h2>
<p>Read more about installation, configuration, backup and the HTTP API in the README included in the FileDB release (not available here).</p>
<p>How to prepare your camera devices, such as digital cameras and smart phones, to simplify future categorization:</p>
<ul>
    <li>Set the date and time, because this information will be included in the JPEG pictures which will be used by FileDB</li>
    <li>Enable location saving in images to make FileDB automatically connect known locations when adding files</li>
</ul>
<p></p>
<p>When you start with an empty file database you probably want to import all your files at the <a href="{{ url_for('app_files') }}">Add File</a> page. Later, when adding new directories, specific directories can be added to improve performance.</p>

<h2>Categorization</h2>
<p>When FileDB is up and running it is time to create the categories at the <a href="{{ url_for('app_categories') }}">Edit Categories</a> page.</p>
<p>Afterwards files can be categorized at the <a href="{{ url_for('app_categorize_files') }}">Categorize Files</a> page.</p>
<p>It is recommended to only categorize persons in pictures that are clearly visible in the foreground.</p>

<h2>Notes About Your Files Collection</h2>
<p>FileDB does not modify any files in your file collection. Files are read when importing (adding) files, viewing files or when reading Exif-data via the API.</p>
<p>Before importing your files, take a moment to think about the directory structure. Any directory structure can be used for sorting files in your existing collection. However, this layout has been proven to work very well:</p>
<pre>
root
 |- 2015
 |   |- 2015-06-12 - Biking
 |   |      |- file1.jpg
 |   |      |- file2.jpg
 |   |
 |   |- 2015-07-13 - Birthday party
 |          |- somefile.jpg
 |
 |- 2016
     |- 2016-01-05 - Something else
            |- anotherfile1.jpg
            |- anotherfile2.jpg
</pre>
<p>Files can have the same name in different directories.</p>
<p>File paths in FileDB uses UNIX style directory separators ('/'), mostly because that is how FileDB stores the paths internally.</p>
<p>If you rename or delete files that has been added to FileDB you need to remove them in FileDB as well (and possibly add them again). There is a tool for finding such files at the <a href="{{ url_for('app_files') }}">Add Files</a> page</p>

<h2>Hot Keys</h2>
<p>Hot keys at the <a href="{{ url_for('app_browse') }}">Browse Files</a> page:</p>
<ul>
    <li>Previous file: a</li>
    <li>Next file: d</li>
    <li>Random file: r</li>
</ul>

<h2>Application Programming Interface (API)</h2>
<p>Read about the FileDB API in the API documentation included in the FileDB release (not available here).</p>

{% endif %}
{% endblock %}
