{% extends "layout.html" %}
{% block content %}

<script>
	$("#about_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Help</h1>

<h2>About</h2>
<p>This web application is used for storing and presenting meta data for your multimedia files (such as images or movies).</p>
<p>The following meta data can be added to each file from the file collection:</p>
<ul>
    <li>File description</li>
    <li>File date and time</li>
    <li>Persons</li>
    <li>Locations</li>
    <li>Tags</li>
</ul>
<p>The meta data above, called categories, can be used when searching for files or to document historic events represented by the files.</p>

<h2>Installation</h2>
<p>Read more about installation, configuration, backup and the HTTP API in the README (not available here).</p>

<h2>Your Files</h2>
<p>FileDB does not modify any files in your file collection.</p>
<p>Before importing your files, take a moment to think about the directory structure. Any directory structure can be used for sorting files in your existing collection. However, this layout has been proven to work very well:</p>
<pre>
root
 |- 2015
 |   |- 2015-06-12 - Biking
 |   |      |- file1.jpg
 |   |      |- file2.jpg
 |   |
 |   |- 2015-07-13 - Birthday party
 |          |- somefile.jpg
 |
 |- 2016
     |- 2016-01-05 - Something else
            |- anotherfile1.jpg
            |- anotherfile2.jpg
</pre>
<p>Files can have the same name in different directories.</p>

<h2>Image Browser Keyboard Shortcuts</h2>
<ul>
    <li>Previous file: a</li>
    <li>Next file: d</li>
</ul>

<h2>API</h2>
<p>Read about the FileDB API in the API documentation (not available here).</p>

{% endif %}
{% endblock %}
