{% extends "layout.html" %}

{% block content %}

    <h1>FileDB</h1>
    <p class="lead">Welcome! Now you can start browsing and categorizing files!</p>
    <p>If this is the first time using FileDB, please read the information at the <a href="{{ url_for('app_help') }}">Help page</a>.</p>
    <p>Visit the <a href="{{ config['PROJECT_HOME'] }}">FileDB project website</a> for more information, report improvements/bugs or to start contributing.</p>

{% if not root_dir_exists %}
    <div class="alert alert-warning">
      <strong>Warning!</strong> Configured files root directory does not exist.
    </div>
{% endif %}
    
{% endblock %}
