{% extends "layout.html" %}
{% block content %}

<script>
	$("#browse_files_page").addClass('active');
</script>

{% if session.logged_in %}

<h1>Browse Files</h1>

<div class="panel panel-default">
  <div class="panel-heading">Persons</div>
  <div class="panel-body" id="personbuttons"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Locations</div>
  <div class="panel-body" id="locationbuttons"></div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tags</div>
  <div class="panel-body" id="tagbuttons"></div>
</div>

<button type="button" class="btn btn-default">Show</button>

{% endif %}

{% endblock %}
